<app-header title="Perfil" [showFab]="false"></app-header>

<ion-content >
    <div class="ion-padding">
        <ion-grid>
            <ion-row justify-content-center align-items-center style="height: 100%">
                <ion-avatar>
                    <ion-img [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'"></ion-img>
                </ion-avatar>
            </ion-row>
            <h2 text-center>{{ cliente?.nome }}</h2>
            <p text-center>{{ cliente?.email }}</p>
        </ion-grid>
    
    
        <ion-card>
            <ion-card-header>
                Enviar imagem de perfil
            </ion-card-header>
            <ion-item *ngIf="picture">
                <img [src]="picture">
            </ion-item>
            
            <ion-button expand="block" [disabled]="cameraOn" (click)="getCameraPicture()">Camera</ion-button>
            <ion-button expand="block" [disabled]="cameraOn" (click)="getGalleryPicture()">Galeria</ion-button>
            <ion-button *ngIf="picture" fill="outline" expand="block" (click)="sendPicture()">Enviar imagem</ion-button>
            <ion-button *ngIf="picture" fill="outline" expand="block" (click)="cancel()">Descartar imagem</ion-button>
        </ion-card>     
    </div>
</ion-content>

