<app-header title="Categorias"></app-header>

<ion-content >
    <div class="ion-padding">

    <ion-list  *ngIf="categorias$ | async as categorias">
        <ion-item *ngFor="let categoria of categorias" >
          <ion-thumbnail slot="start">
            <ion-img src="{{ bucketUrl }}/cat{{ categoria.id }}.jpg"  ></ion-img>
          </ion-thumbnail>         
          <ion-label><h2>{{ categoria.nome }}</h2></ion-label>
          <ion-button size="small">Ver</ion-button>
        </ion-item>        
      </ion-list>

    </div>

</ion-content>
